// Product Details
.team-swiper-4{
    .swiper-wrapper{
        .swiper-slide{
            &:first-child{
                margin-left: 15px;
            }
            &:last-child{
                margin-right: 15px;
            }
        }
    }
}


.text-underline{
    text-decoration: underline !important;
    text-underline-offset: 3px;
}
.light-text{
    color: $body-color;
    font-size: 0.875rem;
    font-weight: 400;
}
.para-title{
    font-size: 14px;
    font-weight: 400;
}

ul{
    &.list-check{
        line-height: 1.7;
        li{
            color: #313131;
            font-size: 14px;
            margin-left: 30px;
            position: relative;
            &:after{
                content: "\f125";
                font-family: Flaticon;
                width: 5px;
                height: 5px;
                top: 10px;
                color: var(--primary);
                left: -30px;
                border-radius: 30px;
                line-height: 5px;
                position: absolute;
            }
        } 
    }
}
.flex-1{
    flex:1;
}

.team-swiper-4{
    .swiper-slide{
        width: auto;
    }
}

.dz-banner-heading{
    .overlay-black-light{
        position: relative;
        z-index: -1;
        .bnr-img{
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            background: linear-gradient(160deg, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0));
            width: 100%;
            height: 100%;
        }
		&.style-2{
			&:after{
				background: linear-gradient(1deg, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0));
			}	
		}
    }
}

.company-detail{
    .item-inner{
        display: flex;
        align-items: center;
        li{   
            display: flex;
            align-items: center;
			padding: 3px 8px;
			margin: -3px -8px;
			margin-right: 10px;
            border-right: 1px solid var(--border-color);
            &:last-child{
                border-right: 0;
            }
            h6{
                margin-left: 5px;
                margin-bottom: 0;
				font-size: 14px;
            }
            .delivery{
                color: var(--primary);
                h6{
                    color: var(--primary);
                }
            }
            .reviews-info{
                display: flex;
                align-items: center;
                i{
                    color: $yellow;
                    font-size: 20px;
                }
            }
        }
    }
	&.style-2{
		.item-inner{
			justify-content: space-between;
			margin-bottom: 20px;
			li{
				padding: 0;
				margin: 0;
				border: 0;
			}
			.text{
				font-size: 15px;
				font-weight: 500;
			}
		}
	}
}
.item-list-2{
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 2px dashed var(--border-color);
    padding-bottom: 20px;
    .input-group{
        margin-bottom: 0;
    }
    .text-style{
        margin-bottom: 10px;
        display: block;
    }
    .price{
        margin-right: 15px;
        h3{
            margin-bottom: 0;
            del{
                font-weight: 400;
                font-size: 1rem;
				color: #BFC9DA;
				margin-left: 10px;
		   }
        }
    }
}




// Checkout
.view-title{
    border-top: 2px dashed var(--border-color);    
    padding-top: 20px;
    ul{
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                display: block;
                font-size: 0.875rem;
                font-weight: 700;
            }
            padding: 2px 0;
            &:nth-child(2n+3){
                padding: 10px 0;
            }
        }
    }
    .promo-bx{
        width: 100%;
        height: 100%;
        color: var(--dark);
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        span{
            color: var(--secondary);
            font-weight: 600;
        }
    }
}

//ORDER-ITEM ===
.banner-content{
	position: absolute;
    bottom: 0;
    left: 0;
	color: #fff;
	width: 100%;
	.timeline{
		display: flex;
		align-items: center;
		li{
			padding: 0 8px;
			font-size: 0.875rem;
			font-weight: 600;
			border-left: 1px solid var(--border-color);
			&:first-child{
				padding-left: 0;
				border-left: 0;
			}
		}
	}
}

.featured-box{
	.item-bx{
		text-align: center;
		background: var(--bg-white);
		box-shadow: 0 0 15px -5px #d9b6b6;
		border-radius: var(--border-radius-base);
		padding: 15px 10px;
		.media{
			margin: 0 auto;
			img{
				border-radius: 50%;
			}
		}
		.item-content{
			small{
				display: block;
				font-size: 0.875rem;
				font-weight: 600;
			}
			.price{
				font-weight: 600;
				color: $warning;
			}
		}
	}
}


//PAYMENT METHOD ===

.form{
	.form-item{
		margin-bottom: 15px;
		.form-control{	
			border-radius: var(--border-radius-base);
			padding: 10px;
		}
		.form-label{
			font-size: 0.75rem;
		}
		.input-group-text{
			border-radius: var(--border-radius-base);
			padding-right:0;
			a{
				font-size: 16px;
				color: var(--dark);
				display: flex;
				align-items: center;
				img{
					width: 20px;	
					min-width: 20px;
					margin-right: 10px;	
				}
			}
		}
	}	
}

.item-list{
	.list{
		padding: 6px 0;
		a{
			font-size: 0.875rem;
			font-weight: 600;
			color: var(--dark);
		}
	}
}

.info-line{
	color: var(--dark);
	font-size: 0.75rem;
	margin: 0;
}

.payment-confirm-wrapper{
	display: flex;
    align-items: center;
    justify-content: center;
	background-image: url("../images/background/bg.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	&.style-2{
		background-image: url("../images/milk/bg-shape.jpg");
		//background-image: none;
		//background-color: var(--primary);
		i{
			box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
		}
	}
}
.payment-box{
	text-align: center;
	color: #fff;
	i{
		font-size: 40px;
		color: var(--primary);
		background: #ededed;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		line-height: 80px;
		box-shadow: 0px 12px 30px 0px rgba(2, 115, 53, 1);
	}
	.delivery-btn{
		width: 190px;
		height: 45px;
		margin-top: 30px;		
		color: var(--primary);
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 10px 0 25px;
		font-size: 16px;
		font-weight: 600;
		border-radius: var(--border-radius-base);
		.next{
			width: 30px;
			height: 30px;
			background: var(--primary);
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 8px;
			svg{
				width: 20px;
				height: 20px;
			}		
		}
	}
}

.account-box{
	&.style-1{
		top: -20px;
	}	
}


//Review =====
.review-box{
	.card{
		box-shadow: 0 0px 20px -10px rgba(0, 0, 0, 0.25);
	}
	.review-content{
		ul{
			li{
				padding-right: 4px;
				i{
					color: $yellow;
				}	
			}
		}
	}
	.add-btn{
		width: 50px;
		height: 50px;
		background-color: var(--primary);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 20px;
		position: fixed;
		bottom: 15px;
		right: 15px;
		z-index: 9;
	}
	.add-review{
		.btn-close{
			position: absolute;
			top: 10px;
			right: 10px;
		}
		.modal-body{
			text-align: center;
		}
		.rating-stars{
			ul{
				li{
					i{
						font-size: 30px;
					}
				}
			}
		}
	}
}

.shop-cart-wrapper{
	padding-bottom: 250px;
}