.bg-image{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
	width: 100%;
	position: fixed;
	z-index: -1;
	height: 100%;
}
.welcome-area {
    flex-direction: column;
    display: flex;
    height: 100%;
	
    .welcome-logo{
        margin: auto;
		padding-top: 30px;
		padding-bottom: 30px;
        text-align: center;
        img{
            width: 130px;
            height: 130px;
			box-shadow: var(--box-shadow);
			border-radius: 50px;
        }
		&.style-2{
			margin: auto;
			z-index: 999;
			padding-top: 30px;
			padding-bottom: 30px;
			
			img{
				width: 100px;
				height: 100px;
				border-radius: 40px;
			}
		}
        .get-started {
            text-align: center;
            margin-bottom: 15px;
            font-weight: 500;
            margin-top: 15px;
        }
    }
    .join-area {
		@media only screen and (min-width: 420px){
			&:after{
				background-size: contain;
			}
		}
        .started{
            margin-bottom: 15px;
			text-align: center;
        }
    }
	.dz-media{
		margin-top: auto;
		margin-bottom: 50px;
	}
	.swiper-slide{
		height: 100vh;
	}
	.swiper-btn{
		position: absolute;
		bottom: 140px;
	}
	.bottom-btn{
		position:fixed;
		bottom: 10px;
		width: 100%;
		left: 50%;
		z-index: 9;
		transform: translateX(-50%);
	}
	.slide-info{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 15px 200px;
	}
}
.welcome-box {
	box-shadow: none;
	padding: 20px;
	background-color: var(--bg-white);
	border-radius: var(--border-radius-base);
	border: 1px solid var(--border-color);
	margin: 0 0 20px 0;
	color: #000;
	display: block;
	position: relative;
	img{
		width: 70px;
		min-width: 70px;
		height: 70px;
	}
	&:last-child{
		margin-bottom: 0;
	}
	h5{
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 8px;
		color: var(--primary);     
	}
	p{
		margin-bottom: 0;
		color: $body-color;
	}
	&:hover{
		border: 1px solid var(--primary);                
	}
}	

//Story ======

.story-box{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	position: relative;
	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.27) 100%);
		z-index: 1;
	}
	.container{
		position: relative;
		z-index: 2;
	}
	video{
		width: 100%;
		height: 100vh;
		position: fixed;
		left: 0;
		top: 0;
		object-fit: cover;
	    z-index: -1;
	}
}
.story-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	li{
		width: 100%;
		height: 5px;
		background: rgba(255, 255, 255, 0.23);
		border-radius: 12px;
		margin-right: 8px;
		&:first-child{
			background: rgba(255, 255, 255, 1);			
		}
		&:last-child{
			margin-right: 0;
		}
	}
}
.user-profile{
	display: flex;
	align-items: center;
	justify-content: space-between;
	.user-info{
		margin-left: 15px;
		color: #fff;
		h6{
			color: #fff;
		}
	}
	.back-btn{
		font-size: 24px;
		color: rgba(255, 255, 255, 0.48);
	}
}

.bg-black-gradient{
	background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(0,1,2,1) 99%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(0,1,2,1) 99%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(0,1,2,1) 99%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-color: transparent !important;
}
.story-wrapper{
	padding: 0;
	.swiper-wrapper{
		.swiper-slide{
			height: 100vh;
			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
	.user-profile{
		position: absolute;
		z-index: 99;
		top: 0;
		left: 0;
		width: 100%;
		padding: 45px 25px 10px;
	}
	.swiper-pagination{
		position: absolute;
		top: 0;
		left: 0;
		height: auto;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 20px 20px;
		
		.swiper-pagination-bullet{
			height: 5px;
			background-color: rgba(255,255,255,0.5);
			opacity: 1;
			width: 100%;
			border-radius: 10px;
			position: relative;
			overflow: hidden;
			
			
			&:after{
				content: "";
				height: 100%;
				width: 0;
				background: #fff;
				position: absolute;
				top: 0;
				left: 0;
			}
			&.swiper-pagination-bullet-active{
				&:after{
					width: 100%;
					transition: 5s linear;
				}
			}
		}	
	}
}