:root{
    --headheight: 55px;
}
.header{
    background-color: var(--bg-white);
    min-height: var(--headheight);
    z-index: 2;
    border-bottom: 1px solid var(--border-color);
	.title{
		font-weight: 600;
	}
	&.style-1{
		border: 0;
		min-height: unset;
		.main-bar{
			display: none;
			&.sticky-header{
				display: unset;
			}
			.right-content{
				.theme-btn,
				.theme-color{
					svg{
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}
	&.style-2{
		border: 0;
		.header-content{
			.left-content{
				width: auto;
			}
		}
	}
	&.style-3{
		border: 0;
		border-radius: 0 0 20px 20px;
		box-shadow: 0px 4px 50px -5px rgba(7, 64, 60, 0.25);
	}
	&.style-4{
		border: 0;
		min-height: 90px;			
		border-radius: 0 0 30px 30px;
		.header-content{
			margin: 10px 0 15px;
		}
	}
	&.style-5{
		border: 0;
		//box-shadow: 0px 12px 30px 0px rgba(48, 48, 48, 0.08);
		.header-content{
			margin: 10px 0 5px;
		}
	}
	&.style-6{
		//border: 0;
		.header-content{
			margin: 0;
			padding: 15px;
			background-color: var(--bg-white);
			.icon-box{
				background-color: var(--rgba-primary-1);
				border: 0;
				border-radius: var(--border-radius-base);
			}
			.user-image{
				img{
					padding: 2px;
					border: 1px solid var(--primary);
				}
			}
		}
	}
	&.header-fixed{
		position: fixed;
		width: 100%;
	}
	&.bg-img{
		background-image: url(../images/meat/pattern1.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.right-content{
		
	}
    &.transparent{
        position: absolute;
        width: 100%;
        top: 0;
        background: transparent;
        border: 0;
        left: 0;
		z-index: 999;
        .left-content{
            .menu-toggler{
				color: #000;
				svg{
					path{
						fill: #fff;
					}
				}
			}
        }
        .right-content{
			.icon-bx{
				svg path{
					stroke: #fff;
				}
			}
		}
        .main-bar{
			.back-btn{
				color: #fff;
				svg{
					path{
						fill: #fff;
					}
				}
			}
			.menu-toggler{
				color: #fff;
			}
            &.sticky-header{
				.title{
					color: var(--title);
				}
                .left-content{
					.back-btn{
						svg{
							path{
								fill: var(--dark);
							}
						}
					}
                    .menu-toggler{
                        color: var(--primary);
                    }
                }
                .header-content{
					.icon-box-3{
						background-color: var(--primary);
						svg{
							path{
								fill: #fff;
							}
						}
						&.item-bookmark svg path{
							fill: #fff;
						}
					}
                    .back-btn{
						color: #000;
					}
					.menu-toggler{
						color: #000;
						svg{
							path{
								fill: #bfc9da;
							}
						}
					}
                    .mid-content{
                        h5{
                            color: #000;
                        }
                    }
                }
                .right-content{
                    .theme-btn,
                    .theme-color{
                        color: #bfc9da;
                        svg{
                            &.color-plate{
                                path{
                                    fill: #bfc9da;
                                }       
                            }
                        }
                    }
					.item-bookmark{
						svg path{
							fill: #d9d9dc;
						}
						&.active{
							svg path{
								fill: #ff586e;
							}	
						}
					}
					.icon-bx{
						svg path{
							stroke: var(--body-color);
						}
					}
                }
            }
            &:not(.sticky-header){
                .form-check{
                    &.checkmark{
                        padding:0;
                        .form-check-label{
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            border-radius: 0;
                            text-align: center;
                            border: 0;
                            line-height: 0;
                            svg{
                                path{
                                    stroke: #fff;
                                }
                            }
                        }
                        .form-check-input{
                            display:none;
                        }
                        .form-check-input:checked + .form-check-label{
                            background-color:transparent;
                            svg{
                                path{
                                    fill: #fff;
                                }
                            }
                        }	
                    }
                }    
            }
            .title{
                color: #fff;
            }
            .dropdown{
                .dropdown-toggle{
                    &:after{
                        content: none;
                    }    
                }    
            }
        }
    }
	
	.back-btn{
		display: flex;
		line-height: 1;
		font-size: 20px;
		width: 35px;
		height: 35px;
		min-width: 35px;
		align-items: center;
		justify-content: center;
		margin-right: 8px;
		svg{
			width: 20px;
			height: 20px;
		}
	}
	
	.menu-toggler{
    	font-size: 20px;
		color: var(--title);
		display: flex;
		align-items: center;
		i{
			line-height: 1;
		}
		svg{
			width: 25px;
			height: 25px;
		}
	}
    .container{
        padding-top: 0;
        padding-bottom: 0;
    }
    .sticky-header{
        position: fixed;
        top: 0;
        z-index: 99999;
        left: 0;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.10);
        background: var(--bg-white);
        transition: all 0.5s;
        width: 100%;
    }
    .header-content{
        display: flex;
        height: 100%;
		min-height: var(--headheight);
        align-items: center;
        
        .left-content{
            width: 30px;    
            height: 100%;
            display: flex;
            align-items: center;
        }
        .mid-content{
			flex: 1;
			text-align: center;
        }
        .right-content{
            .form-check{
                &.checkmark{
                    padding:0;
                    .form-check-label{
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        border-radius: 0;
                        text-align: center;
                        border: 0;
                        line-height: 0;
                    }
                    .form-check-input{
                        display:none;
                    }
                    .form-check-input:checked + .form-check-label{
                        background-color:transparent;
                        svg{
                            path{
                                fill: var(--primary);
                            }
                        }
                    }	
                }
            }    
        }
    }
    &.user-head{
        .header-content{
            .mid-content{
                display: flex;
                align-items: center;
                .media{
                   margin-right: 10px;
                }
            }
            .right-content{
                .dropdown{
                    .dropdown-toggle{
                        &:after{
                            content: none;
                        }
                    }    
                }
            }
        }
    }
}
.header.transparent{
    & ~ {
        .banner-wrapper,
        .content-inner{
            padding-top: var(--headheight)!important;
        }        
        .banner-wrapper + .content-inner{
            padding-top: 0!important;
        }
    }
}

/* Start Header is-fixed Animation */
.main-bar{
	-webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
    -khtml-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;	
}
.main-bar.sticky-header{
	-webkit-animation: 0.50s ease 0s normal forwards 1 running headerSlideDown;
	-khtml-animation: 0.50s ease 0s normal forwards 1 running headerSlideDown;
	-moz-animation: 0.50s ease 0s normal forwards 1 running headerSlideDown;
	-ms-animation: 0.50s ease 0s normal forwards 1 running headerSlideDown;
	-o-animation: 0.50s ease 0s normal forwards 1 running headerSlideDown;
	animation: 0.50s ease 0s normal forwards 1 running headerSlideDown;
}
@-moz-keyframes headerSlideDown {
  0% {
    margin-top: -150px;
  }
  100% {
    margin-top: 0;
  }
}
@-ms-keyframes headerSlideDown {
  0% {
    margin-top: -150px;
  }
  100% {
    margin-top: 0;
  }
}
@-webkit-keyframes headerSlideDown {
  0% {
    margin-top: -150px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes headerSlideDown {
  0% {
    margin-top: -150px;
  }
  100% {
    margin-top: 0;
  }
}
/* Header is-fixed Animation End */

//Theme - Btn=====
.theme-btn,
.theme-color{
	width: 35px;
	display: inline-block;
	height: 35px;
	text-align: center;
	line-height: 35px;
	padding: 0;
	svg{
		width: 25px;
		height: 25px;
		fill: var(--dark);
		path{
			fill: var(--dark);
		}    
		&.color-plate{
			path{
				fill: var(--dark);
			}       
		}
	}
	.light{
		display: none;
	}
	&.active{
		.light{
			display: inline-block;
		}
		.dark{
			display: none;
		}
	}
}
