// form-label
.form-label{
	font-size    : 0.875rem;
	font-weight  : 500;
	color        : $body-color;
	margin-bottom: 10px;
	background   : transparent;
	border-color : $border-color;
}

.input-icon + .form-control{
    padding: 0 10px 0 48px;  
}

// form-control
.form-control {
    height    	 : 48px;
    border       : 2px solid $border;
    padding      : 10px 20px;
    font-size    : 16px;
    font-weight  : 500;
    color        : var(--dark);
    transition   : all 0.3s ease-in-out;
    background   : var(--bg-white);
	border-radius: var(--border-radius-base);
    
    .select {
        padding: 12px 0;
    }
    
    &.form-control-lg{        
        height: 4rem;
        font-size: 1rem;
    }
    &.form-control-sm{
        height: 2.813rem;
        font-size: 0.875rem;
    }


    span {
        margin-top: 0;
    }
    &::-webkit-input-placeholder {
        color: #7D8FAB;
    }
    &:-ms-input-placeholder {
        color: #7D8FAB;
    }
    &::placeholder {
        color: #7D8FAB;
    }
	&:focus,
    &:active,
    &.active {
        border-color: var(--primary);
        background   : #fff;
        color: var(--dark);
    }
    &.style-1{
        border: 1px solid #F0F0F0;
    }
}
textarea.form-control{
    min-height: unset;
	height: auto;
	&[rows]{
		height: auto;
	}
}

// textarea
textarea{
	height: 120px;
	resize: none;
}

.input-group{
    margin-bottom: 15px;
	&.input-select{
		.input-group-text{
			padding: 10px 6px 10px 10px;
		}
	}	
    .input-group-text{
		background-color: var(--bg-white)!important;
		color: #a19fa8;
		border-width: 2px;	
		border-color: var(--border-color);
		border-radius: var(--border-radius-base);
		transition: all 0.3s ease-in-out;
		padding: 10px 15px;
    }
    &.search-input{
        .btn-close{                
            width: 24px;
            position: absolute;
            line-height: 26px;
            height: 24px;
            padding: 0 !important;
            font-size: 0.875rem;
            right: 10px;
            border-radius: 50% !important;
            z-index: 999;
            text-align: center;
            background: #B9B9B9;
            top: 50%;
            display:none;
            transform: translateY(-50%);   
        }
        .form-control{
            border-radius:45px!important;
        }
    }
}

//Top
.bt-0{
	border-top:0 !important;
}
//Bottom
.bb-0{
	border-bottom:0 !important;
}
//Right
.be-0{
	border-right:0 !important;
}
//Left
.bs-0{
	border-left:0 !important;
}
.input-group:focus-within{
	.input-group-text,
	.form-control{
		border-color:var(--primary);
	    
	}
}


.show-pass {
	cursor: pointer;
	.fa-eye {
		display: none;
	}
}
.show-pass.active {
	.fa-eye-slash {
		display: none;
	}
	.fa-eye {
		display: inline-block;
	}
}

//Select
select{
    width: 100%;
    height: 48px;
    color: #7e7e7e;
    border: 1px solid #ddd;
    border-radius: 45px;
}

.form-check{
	display: flex;
	align-items: center;
	.form-check-input{
        width: 24px;
        min-width: 24px;
        height: 24px;
		margin-top: 0;
		border: 2px solid var(--primary);
		&:checked{
			background-color: var(--primary);			
		}
    }
    .form-check-label{
		margin-left: 8px;
		color: var(--dark);
		font-size: 16px;
    }
}

/* == Icon Checkbox == */
.check-box{
	margin-left: -30px;
	margin-right: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	position: relative;
	width: auto;
	display: block;
	input {
		position: absolute !important;
		transform: translateX(-10000px);
		&:checked~.check-1 {
			opacity: 0 !important;
			display: none !important;
		}
		&:checked {
			~ {
				.check-2 {
					display: block;
					color: var(--primary);
				}
			}
		}
	}
	.fa-check-circle {
		display: none;
	}
	i {
		width: 20px;
		text-align: center;
		pointer-events: none;
		position: absolute;
		left: 30px;
        font-size: 1.125rem;
		top: 1px;
		height: 24px;
		line-height: 24px;
	}
	label {
		cursor: pointer;
		font-size: 13px;
		font-weight: 500;
		padding: 0 15px 0 35px;
	}
	.check-2 {
		display: none;
	}
}

.input-group-text{
	background-color: transparent!important;
}
.input-group-text ~ .form-control{
	padding-left: 0;
}
.input-radius{
	textarea.form-control{
		border-radius: 15px;
	}
}
.input-group > :not(:first-child){
	border-left: 0;
}
.input-group > :not(:last-child){
	border-right: 0;
}
.input-group-icon{
	.input-group-text{
		background-color: #E8EFF3 !important;
		&:not(.show-pass){
			padding: 4px;
			.input-icon{
				background-color: transparent!important;
				color: #7D8FAB;
				padding: 0;
				width: 38px;
				height: 38px;
				line-height: 38px;
				border-radius: calc(var(--border-radius-base) - 4px);
				text-align: center;
				display: block;
				font-size: 1rem;
				svg{
					width: 18px;
					height: 18px;
				}
			}
		}
    }
	.form-control {
		padding-left: 10px;
		background: #E8EFF3;
		font-size: 1rem;
		height: 50px;
		font-weight: 500;
		color: #000000;
	}
	&.input-lg{
		.input-group-text:not(.show-pass){
			height: 60px;
			padding: 8px;
			.input-icon{
				width: 45px;
				height: 45px;
				font-size: 24px;
				line-height: 45px;
				svg{
					width: 24px;
					height: 24px;
				}
			}	
		}	
		.form-control{
			height: 60px;			
		}
	}
	&.input-sm{
		.input-group-text:not(.show-pass){
			height: 45px;
			padding: 5px;
			.input-icon{
				font-size: 14px;
				width: 30px;
				height: 30px;
				line-height: 30px;
				svg{
					width: 14px;
					height: 14px;
				}
			}	
		}	
		.form-control{
			padding-left: 6px;	
			height: 45px;		
			font-size: 0.875rem;	
		}
	}
}
.input-mini{
	.input-group-text{
		padding: 10px 15px;
    }
	.input-group-text,
	.form-control{
		border-radius: 0;
		border-width: 0 0 1px;
		background-color: transparent;
	}
	.form-control {
		padding-left: 5px;
	}
}

//Form Select===

.form-control{
	&.custom-image-select-2{
		padding: 8px!important;
		border-radius: 0.35rem;
		img{
			width: 30px;
			min-width: 30px;
			margin-right: 5px;
			height: 20px;
			border-radius: 4px;
		}
		.dropdown-menu {
			width: 100%;
		}
		.dropdown-toggle{
			border: 0!important;
			padding: 0;
			position: relative;
			&:focus{
				outline: none !important;
				outline-offset: none !important;
			}
			&.btn-light{
				background-color: var(--bg-white);
			}	
			&:after{
				content: '\f107';
				position: absolute;
				font-weight: 900;
				top: 50%;
				right: 0;
				margin-top: 0;
				font-family: 'Font Awesome 6 Free';
				border: 0 !important;
				transform: translateY(-50%);
			}
		}
		.filter-option-inner-inner{
			margin-right: 15px;
		}
		.dropdown-menu{
			.dropdown-item{
				padding: 10px 15px 10px 15px;				
				text-align: left;
			}
		}
	}
}

.dz-form-select{
	background-color: #E8EFF3;
	border-radius: var(--border-radius-base);
    border: 2px solid var(--border-color);
	&:focus{
		border-color: var(--primary);
		box-shadow: none;
	}
	.selected{
		font-size: 16px;
		color: #7D8FAB;
	}	
	&.style-2{
		background-image: url(../images/down.svg);
		background-color: transparent;
		border: 0;
		width: auto;
		background-size: 12px;
		padding: 6px 30px 6px 6px;
		color: var(--primary);
		font-weight: 500;
	}
}


.form-item{
	margin-bottom: 15px;
	width: 100%;
	.form-control{	
		border-radius: var(--border-radius-base);
		padding: 10px;
	}
	.form-label{
		font-size: 0.875rem;
		font-weight: 500;
	}
}	

.nav-pills{
	&.dz-nav{
		background-color: var(--rgba-primary-1); 
		border-radius: var(--border-radius-sm);     
		.nav-item{
			.nav-link{
				color: var(--title);
				&.active{
					color: #fff;					
				}
			}
		}
	}
}